<extend name="Public/base"/>

<block name="header">
    <li class="active"><a href="javascript:;">1.安装协议</a></li>
    <li><a href="javascript:;">2.环境检测</a></li>
    <li><a href="javascript:;">3.创建数据库</a></li>
    <li><a href="javascript:;">4.安装</a></li>
    <li><a href="javascript:;">5.完成</a></li>
</block>

<block name="body">

    <div class="container">


    </div>

    <header>
        <h1 class="text-center">xxx 安装协议</h1>

        <section class="abstract">版权所有 (c) xxxxx</section>
    </header>
    <section class="article-content" style="text-indent: 2em">

        <p>感谢您选择WebRtcXSS，希望我们的努力可以为您创造价值。公司网址为 <a href="xxxx" target="_blank">xxxxx</a>，产品官方网站网址为
            <a href="http://www.xxx.com" target="_blank">http://www.xxx.com</a>。</p>

        <p>
            用户须知：欢迎xxxxx</p>


    </section>


</block>

<block name="footer">
    <a class="btn btn-primary btn-block btn-large" href="{:U('Install/step1')}">同意安装协议</a>
    <a class="btn btn-default  btn-large btn-block" style="background: white;" href="xxxx">不同意</a>
</block>